/*
 *This css file styles the login page
 */
body{
	margin:0px;
}
a{cursor: pointer;}
body, html{
	height: 100%;
	width: 100%;
	background:url(../images/home3.jpg);
	background-size:cover;
	background-attachment: fixed;
	min-width: 500px;
}

#big_wrapper{
	height: 100%;
	width: 100%;
	background:rgba(33, 33, 33, 0.74);
	overflow:hidden;
	position:fixed;
}

.login_bar{
	width: 25%;
	min-width:300px;
	height: 100%;
	margin-right:-100%;
	background:     -webkit-linear-gradient(rgba(255, 0, 0, 0.6), rgba(235, 255, 0, 0.6), rgba(29, 255, 0, 0.6));
    background:        -moz-linear-gradient(rgba(255, 0, 0, 0.6), rgba(235, 255, 0, 0.6), rgba(29, 255, 0, 0.6)); 
    background:          -o-linear-gradient(rgba(255, 0, 0, 0.6), rgba(235, 255, 0, 0.6), rgba(29, 255, 0, 0.6));
    background:             linear-gradient(rgba(255, 0, 0, 0.6), rgba(235, 255, 0, 0.6), rgba(29, 255, 0, 0.6));
	float: right;
	position:absolute;
	right:0px;
	overflow:hidden;
	z-index:10;
}

#content_page{
	width: 75%; 
	height: 100%;
	display:table;
}

/*styling of the huge userve text*/
#content_page h1{
    color: rgba(149, 255, 235, 0.3);
    font-size: 400px;
    font-family: sans-serif;
	margin:-100px 0px;
	text-align:left;
	position:absolute;
	bottom:0px;
	z-index:1;
}
/*styling of individual letters in the huge userve text*/
#content_page h1 span{
	margin:0px -250px;
	float:left;
}
#content_page h1 span:nth-child(1){/*u*/
	color:rgba(255, 0, 98, 0.4);
}
#content_page h1 span:nth-child(3){/*S*/
	color:rgba(0, 186, 255, 0.4);
}
#content_page h1 span:nth-child(4){/*e*/
	color:rgba(196, 255, 0, 0.4);
}
#content_page h1 span:nth-child(5){/*r*/
	color:rgba(14, 168, 85, 0.4);
}
#content_page h1 span:nth-child(6){/*v*/
	color:rgba(255, 29, 0, 0.4);
}
#content_page h1 span:nth-child(7){/*e*/
	color:rgba(0, 255, 20, 0.4);
}
.showHugeText{
	margin:0px -50px;
}
.portal_pic{
	height: 50%;
	width: 40%;
    margin-top: 5%;
	margin-left: 30%;
}
.inputs{
	height: 22px;
	width:195px;
	font-size: 15px;
}
#footer{
	background-color: rgba(255, 255, 255, 0);
	color: rgb(0, 167, 255);
	text-align: center;
	height: 20px;
	position:fixed;
	bottom: 0px;
	
}
#footer p{
	font-size: 12px;
	margin: 0px;
}
.login_bar h3{
	font-family:calibri, sans-serif;
	color:#fff;
	text-align:center;
	font-size:20px;
}
.login_bar form{
	height:300px;
	width:100%;
	margin:0px auto;
	text-align:center;
}
#login_table{
    margin: 50% auto;
	text-align:center;
}

.login_bar input{
	padding:5px 10px;
}

input[type="submit"]{
	min-width: 100px;
	width:217px;
	padding:5px 10px;
	border: 2px solid #fff;
	background:rgba(255, 255, 255, 0);
	margin:0px auto;
	text-align: center;
	color:#f2f2f2;
	font-size:18px;
	font-weight:500;
}
select{
	height:32px;
	width:217px;
	padding:5px 10px;
	color:#626262;
}
option{
	color:#242424;
}
.login_bar a{
	display: table-row;
	vertical-align: bottom;
	height:50px;
}
#signIn{
	width:100%;
	height:100%;
	float:left;
	position: absolute;
	z-index:2;
}
#signUp{
	width:100%;
	height:100%;
	float:right;
	right:-100%;
	position: absolute;
	z-index:2;
}
#onOff{
	width:20%;
	height:20%;
	float:right;
	right:50%;
	top:50%;
	margin-top:-10%;
	margin-right:-2%;
	position:absolute;
	fill:rgba(255, 255, 255, 0.33);
	display:table-cell;
}
#monitor{
	width:75%;
	height:75%;
	position: absolute;
	margin-right:-30%;
	right:50%;
	top:50%;
	margin-top:-20%;
	fill:rgba(255, 255, 255, 0.56);
}
#example-show, #logInBox{
	color:#ff0;
	text-align:center;
	font-family:sans-serif;
	font-weight: 500;
	font-size:15px;
	bottom:50px;
	position:absolute;
	width:100%;
	cursor:pointer;
	text-decoration: underline;
}

#signIn, #signUp, .hideHome, .home, .login_bar, .showLogInBar, .loginButton, span{
	-webkit-transition: all 0.3s cubic-bezier(0, 1.03, 1, 1);
	   -moz-transition: all 0.3s cubic-bezier(0, 1.03, 1, 1);
	    -ms-transition: all 0.3s cubic-bezier(0, 1.03, 1, 1);
	     -o-transition: all 0.3s cubic-bezier(0, 1.03, 1, 1);
		    transition: all 0.3s cubic-bezier(0, 1.03, 1, 1);
}

#signIn, #signUp{
	transition-property: margin-left,right;
}

.hideHome, .home{
	transition-property: opacity;
}

.login_bar, .showLogInBar{
	transition-property: margin-right;
	transition-duration: 0.4s;
}

.loginButton{
	transition-property: right;
}

span{
	transition-property: margin-left;
	transition-duration: 0.6s;
}