div#results a {
    color: #238fc7;
}

#results {
    background-color: #fff;
    display: inline-block;
    width: 100%;
    min-height: 100px;
}

.results-list {
    list-style: none;
    margin-left: 100px;
}

.results-list li {
    padding: 10px;
}
